
  {% extends "navigationbar.html" %}
  {% block content %}
    </section>
    <h1>{{app_name}} App</h1>
    <h2>Overview</h2>
    <p>This functionality of this app includes: the creation of blockchain blocks and the ability to search through the blockchain to see what data is already in the chain </p>
    <br>
    <br>
    <section>
      <h2>Add block to chain</h2>
      <form action="/" method="post">
        <br>
        {{create_block_form.data.label}}
        {{create_block_form.data()}}
        <br>
        <br>
        {{create_block_form.sender.label}}
        {{create_block_form.sender()}}
        <br>
        <br>
        {{create_block_form.receiver.label}}
        {{create_block_form.receiver()}}
        {{create_block_form.submit()}}
      </form>
      {% if created_block ==True %}
        <h3>Block Added</h3>
      {% elif created_block =="N" %}
        <h3>Block not added</h3>
      {% else %}
      {% endif %}
    </section>
    <br>
    <br>
    <section>
      <br>
      <br>
      <h2>Current Blocks in chain</h2>
      <table>
        <tr>
          <th>Block Hash</th>
          <th>Block Sender</th>
          <th>Block Receiver</th>
          <th>Block data</th>
        </tr>
        <tbody>
        {% for block in message %}
            <tr>
              <td>{{block}}</td>
              <td>{{message[block]["from"]}}</td>
              <td>{{message[block]["to"]}}</td>
              <td>{{message[block]["data"]}}</td>
            </tr>
          {%endfor%}
        </tbody>
      </table>
    </section>
  {% endblock %}
