<body>
  <h1>{{app_name}} App</h1>
  <h2>Overview</h2>
  <p>This functionality of this app includes: the creation of blockchain blocks and the ability to search through the blockchain to see what data is already in the chain </p>
  <br>
  <br>
  <section>
    <h2>Add block to chain</h2>
    <form action="/" method="post">
      <label for="block_add">Enter Data</label>
      <input id="block_add" type="text" name="block_add" value="Enter data here">
      <input type="submit" name="submit_block_add" value="submit">
    </form>
  </section>
  <br>
  <br>
  <section>
    <h2>Check if data is in chain</h2>
    <form action="/" method="post">
      <label for="in_list">Enter Data</label>
      <input id="in_list" type="text" name="data_check" value="Enter data here">
      <input type="submit" value="submit">
    </form>
  </section>
</body>
