<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blockchain main page</title>
    <link rel="stylesheet" href="/static/css/main_page.css/" type="text/css"/>
  </head>
  <body>
    <h1>{{app_name}} App</h1>
    <h2>Overview</h2>
    <p>This functionality of this app includes: the creation of blockchain blocks and the ability to search through the blockchain to see what data is already in the chain </p>
    <br>
    <br>
    <section>
      <h2>Add block to chain</h2>
      <form action="/" method="POST">
        <label for="From:">From</label>
        <input id="From" type="text" name="from" value="">
        <br>
        <br>
        <label for="To:">To</label>
        <input id="To" type="text" name="to" value="">
        <br>
        <br>
        <label for="block_add">Enter Data</label>
        <input id="block_add" type="text" name="block_add" value="">
        <input type="submit" name="submit_block_add" value="submit">
      </form>
      {% if created_block ==True %}
        <h3>Block Added</h3>
      {% elif created_block =="N" %}
        <h3>Block not added</h3>
      {% else %}
      {% endif %}
    </section>
    <section>
      <br>
      <br>
      <h2>Current Blocks in chain</h2>
      <table>
        <tr>
          <th>Block Hash</th>
          <th>Block Sender</th>
          <th>Block Receiver</th>
          <th>Block data</th>
        </tr>
        {% for block in message %}
        <tr>
          <td>{{block}}</td>
          <td>{{message[block]["from"]}}</td>
          <td>{{message[block]["to"]}}</td>
          <td>{{message[block]["data"]}}</td>
        {%endfor%}
      </table>
    </section>
  </body>
</html>
