{% extends "navigationbar.html" %}
{% block content %}

<section>
  <h1>John's Blockchain App</h1>
</section>
<<section>
  <h2>Overview</h2>
  <p>This is a blockchain app for which I created both the front-end and back-end. The functionality of this app includes:
    <ul>
      <li>The creation of new blockchain blocks</li>
      <br>
      <li>The ability to search through transactions on the chain by user</li>
      <br>
      <li>A users personal page, where they can download the full blockchain (to represent the chains distributed network)</li>
    </ul>
  <br>
  <br>
</section>

{% endblock %}
