<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id= navigationbar>
      <ul>
        <li><a href="{{url_for('home')}}">Home</a></li>
        <li><a href="{{url_for('blockchain_page')}}">Add blocks</a></li>
        <li><a href="{{url_for('search_chain')}}">Search chain</a></li>
        <li><a href="{{url_for('update_users_chain')}}">Users persoanl chain</a></li>
      </ul>
    </div>
    {% block content %}
    {% endblock %}
  </body>
</html>
